.betsites img{
    width: 200px;;
}
.contform{
    background-color: #f4f4f4;
    padding: 2rem;
  }
  .contform label{
    display: block;
  }
 
  .btnn{
    width: 100%;
}
.contact-info a,address{
    color: #fff;
    font-size: 1.4rem;
  }
  .contact-info span{
    color: #808080;
  }

  /*table,th,td{
    border: 1px solid white;
    border-collapse: collapse;
  }
  table{
    border-spacing:5px;
    width: 100%;
    padding-top: 20px;
  }*/